body {
  background-color: #F6F6F6;
  /* <weight>: Use a value from 300 to 800 */
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  }

/* SELECT SECTION --- SELECT SECTION */
.logo_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 22px;
  margin: 50px 16px 87px 16px;
}

.logo_cont_tg-error {
  margin: 0;
}

.logo {
  width: 80px;
  height: 80px;
}

.logo_text {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-size: 42px;
  margin: 0;
}

.upload_cont {
  background-color: white;
  border-radius: 10px;
  margin: 0 16px;
  padding: 54px 22px 33px 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 18px #dbdae2;
}

.upload_cont_result {
  padding: 30px 0;
  font-weight: 600;
}

.image_label {
  cursor: pointer;
  color: #5D586C;
  font-weight: 500;
  font-size: 14px;
  padding: 80px 40px 20px 40px;
  outline: 2px dashed #7367F0;
  border-radius: 6px;
  background-image: url(./assets/icon_upload.svg);
  background-repeat: no-repeat;
  background-position: center 16px;
}

.image_label_disable {
  cursor: default;
  outline: 2px dashed #bcbcbc;
}

.image_input {
  z-index: -1;
}

/* CROP SECTION --- CROP SECTION */
.crop_section {
  display: none;
  margin: 60px 16px 0 16px;
}

.crop_cont {
  position: relative;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 18px #dbdae2;
  padding: 30px 0 110px 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.crop_btn_cont {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin: 50px 0 0 0;
}

.crop_btn {
  font-size: 17px;
  margin: 0;
  padding: 12px 18px;
  border-radius: 10px;
  border: none;
  background-color: #7367F0;
  color: white;
  cursor: pointer;
}

.load-icon {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 16px;
}

/* END CROP SECTION --- END CROP SECTION */
.cr-boundary {
  border-radius: 20px;
}

/* TG ERROR */
.popup_fullwidth {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 50px;
}

.popup_fullwidth_show {
  display: flex;
}

.tg-error_logo {
  width: 80px;
  height: 80px;
}

.tg-error_text {
  font-size: 16px;
  text-align: center;
}

.tg-error_button {
  font-size: 16px;
  color: white;
  padding: 10px 80px;
  cursor: pointer;
  background-color: #54a9eb;
  border: none;
  border-radius: 14px;
}
/* END of TG ERROR */

/* SUCCESS */
.result {
  display: none;
}

.result_show {
  display: block;
}

.result_logo_cont {
  margin: 50px 16px 140px 16px;
}

.result_icon {
  width: 42px;
  height: 42px;
}
/* END of SUCCESS */

@media screen and (max-width: 382px) {
  .logo_text {
    font-size: 36px;
  }

  .image_label {
    font-size: 12px;
  }
}

@media screen and (max-width: 340px) {
  .logo_text {
    font-size: 32px;
  }
}